
/* 상단바 */
nav{
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
  height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
  html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  li{
    /*position: relative;*/
    display: inline-block;
  }
  li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 40px;
    text-decoration: none;
  }
  li a:hover{
    color: #FFD400;
    font-weight:normal;
  }
  body{
    margin: 0px;
    background-color:#F6F6F6
  }
  .menu {
   width: 5000px;
   height: 50px;
   text-align: center;
   max-width: 100%;
   background-position: center;
   background-size: cover;
   background-color: #333333;color: white;
   position: fixed;
   z-index: 1;
 }
 
 /* index.html */
 .main-background {
   width: 40%;
   height: 1000px;
   background-color: aqua;
  display: inline-block;
 }
.main-self {
  padding: 20px;
  width: 300px;
  height: 600px;
  background-color: antiquewhite;
  display: inline-block;
}
.main-img {
  width: 150px;
  height: auto;
}

/* resume.html */
.myprofile{
  padding: 100px 200px 100px 200px;
}
.img_myprofile{
   width: 200px;
   height: auto;
  border-radius: 50%;
}
.myprofile_git {
  width: 100px;
  height: auto;
}
.myprofile-lst {
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  background-color: #E2E2E2;
}

.language {
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  background-color: #E2E2E2;
}
.skill-c{
  width: 100px;
  height: auto;
}

.skill-java{
  width: 100px;
  height: auto;

}
.skill-python{
  width: 100px;
  height: auto;
}
.skill-htmlcssjs{
  width: 100px;
  height: auto;
}
.skill-mysql{
  width: 100px;
  height: auto;
}
.skill-php{
  width: 100px;
  height: auto;
}
.skill-r{
  width: 100px;
  height: auto;
}


/* favorite.html */
.fav-whole {
  margin: 80px 10px;
}

.fav {
  width: 400px;
  height: 480px;
  display: inline-block;
  background-color: rebeccapurple;
  text-align: center;
  margin: 10px;
}
.fav-Doosan {
  width: 240px;
  height: auto;
  margin: 25px;
}
.fav-list {
  text-align: center;
}
.fav-title {
 color: #F6F6F6;
}
.fav-img {
  display: inline-block;
  vertical-align:top;
}

.fav-right-text {
    display: flex;
    align-items: center;
    text-align: center;
}







/* guest.html */
.sns-info {
  display: flex;
  justify-content: space-between;
}
.instagram {
  box-shadow: 10px 10px 15px #E2E2E2;
  width: 400px;
  height: auto;
  margin: 50px 20px 50px 600px;
}
.i-header {
  display: flex;
  justify-content: space-between;
}
.i-img {
  width: 400px;
  height: 400px;
}
.i-id {
  display: inline-block;
}
.fa-user {
  margin: 10px 25px 10px 25px;
}
.insta-div {
  display: inline;
}
.i-con {
  display: flex;
  justify-content: space-between;
}
.fa-ellipsis-vertical {
  margin: 25px;
}
.fa-heart {
  width: 40px;
  height: auto;
  margin: 20px 0px 25px 20px;
}
.fa-bookmark {
  margin: 20px;
}
.info {
  margin: 50px 700px 50px 20px;
}
.emailto {
  
}


/* https://studiomeal.com/archives/197 */